nav {
    padding: 25px 0;
}
.toolbar {
    list-style: none;
    text-align: center;
    padding-left: unset;

}
.toolbar-item {
    display: inline-block;
    margin: 0 36px;
}

.toolbar-text {
    font-family: Montserrat;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.img-dimens {
    width: 100%;

}
.container {
    width: 1145px;
    margin: auto;
}
.text-content {
    text-align: center;
    /*padding-top: 48px;*/
    padding-bottom: 42px;
}
.text-style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.heading-content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.heading-indent {
    margin-top: 48px;
    margin-bottom: 38px;
}
.text-indent {
    margin-bottom: 28px;
}
.but-dimens {
    width: 191px;
    height: 51px;
}
.but-indent {
    margin-top: 66px;
}
.but-style {
    background: #FF0000;
    border-radius: 4px;
    border: none;
}
.but-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.foot-indent {
    padding-bottom: 29px;
    padding-top: 40px;
}
.foot-text-indent {
    text-align: right;
}
.foot-dimens {
    width: 1145px;
    margin: auto;
}
.foot-text-style {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}